/* Adding reset styles... */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Did you know about variables in CSS? */
/* It's an basic-advance topic in CSS, but I know how to use it. */
/* html { */
    /* Declaring a variable by using double (--) and the word. */
    /* --primary-bgcolor: #fff; */
/* } */
:root {
    /* Dark Background Color for 'hero' and 'footer'. */
    --bg-color: #1f2937;
    /* Hero main and header logo text. */
    --h1-header-color-text: #f9faf8;
    /* Hero secondary text. Quote section background, probably. */
    --hero-text: #e5e7eb;
    /* Button color for sign-up and other stuff... */
    --button-color: #3882f6;
    /* Information header text. And quote text. */
    --information-header: #1f2937;
    /* For those anchors who want to be independent. */
    --anchors-text: #fff;
}

/* The HTML rule. */
html {
    font-family: Roboto, sans-serif;
    font-size: 20px;
}

/* First for all, let's change specific layouts inside of the container. */

/* Header: */
.header {
    /* Let's use "var()" function. */
    /* Put inside of it the variable value with (--) */
    background-color: var(--bg-color);
    /* Use the color property with variables: */
    color: var(--h1-header-color-text);
    padding: 5px 130px 150px;
}

/* Header-top, and it's inside from .header. */
.header-top {
    align-items: center;
    display: flex;
    font-size: 24px;
    justify-content: space-around;
    padding-bottom: 110px;
}

/* .header-links is actually our "ul" element. */
.header-links {
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 25px;
}

/* Our anchor elements: */
.header-links li a {
    background-color: var(--button-color);
    border: 2px outset black;
    /* The color is using a variable. We need to add other one. */
    color: var(--anchors-text);
    display: block;
    padding: 10px;
    text-decoration: none;
}

/* The .header-bottom: */
.header-bottom {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

/* The .header-bottom h1 element selector */
.header-bottom h1 {
    font-size: 48px;
    font-weight: 900;
}

/* The new div in action: */
.header-bottom div {
    display: flex;
    flex-direction: column;
    /* We could use the flex-basis for the flex-item. */
    flex-basis: 50%;
    justify-content: center;
    gap: 20px;
}

/* Modifying the img element. */
.header-img {
    border-radius: 50%;
    display: block;
    height: auto;
    /* This is randomly I picked up. */
    /* We optimized the speed over quality. */
    image-rendering: optimizeSpeed;
    width: 400px;
}

/* This header-button has repeated... But, well. This is special one in the header-bottom. */
.header-button {
    background-color: var(--button-color);
    border: 1px outset black;
    color: var(--anchors-text);
    display: block;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
    /* I like the "fit-content" now. */
    width: fit-content;
}

/* THE MAIN CONTENT */
/* The first section (information): */
/* Pseudo-class in action! The first child of its parent. */
.information:first-child {
    padding: 50px 25px;
}

/* The information-title here: */
.information-title {
    color: var(--information-header);
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 80px;
}

/* Images of the first section: */
.information div img {
    border-radius: 10px;
    /* The box-shadow is important to use. */
    /* The first value is for "x", the second one is "y", the third one is for "blur",
    and the last one is for the color. */
    box-shadow: 2px 2px 5px var(--bg-color);
    display: block;
    height: auto;
    margin: auto;
    width: 250px;
}

/* Now we are going to change those figure and figcaption. */
.information-fig {
    align-items: stretch;
    display: flex;
    justify-content: space-evenly;
}

/* Figures as a .information-img class. */
.information-img {
    /* Distribute "equally" into the main-axis. */
    flex-basis: 100%;
    text-align: center;
}

/* The figcaption section: */
.information-img figcaption {
    margin-top: 10px;
}

/* Now, we are going to focus in the second section: */
/* This selects the second child of its parent. It's interesting... */
/* I wonder if you could use variables inside of them... */
.information:nth-child(2) {
    align-items: center;
    background-color: var(--hero-text);
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    justify-content: center;
    gap: 15px;
    padding: 25px;
}

/* The .information-text is a paragraph, which is inside of the second information. */
.information-text {
    width: 50%;
}

/* The last section here. */
/* Use the :last-child because we always need the last-child. */
.information:last-child {
    padding: 200px;
}

.information:last-child .information-div {
    align-items: center;
    background-color: var(--button-color);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 50px 170px;
}

/* Styling those texts... */
/* The h2 title element: */
.information-div__title {
    color: var(--h1-header-color-text);
}

/* The paragraph text element: */
.information-div__text {
    color: var(--hero-text);
}

/* Styling the anchor element as a button. */
.information-div__button {
    border: 3px outset #fff;
    color: var(--anchors-text);
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

/* FOOTER */
.footer {
    background-color: var(--bg-color);
    padding: 60px 90px;
}

/* .footer-information is the first container. */
.footer-information {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* The .footer-logo is the paragraph. */
.footer-logo {
    color: var(--h1-header-color-text);
    font-size: 24px;
    font-weight: 900;
}

/* .footer-links is the unordered list. */
.footer-links {
    list-style: none;
}

/* Inside of our .footer-links, set the "li" a margin. */
.footer-links li {
    margin: 10px 0;
}

/* Also, we have a button, kind of. It's an anchor. */
.footer-links li a {
    color: var(--anchors-text);
    text-decoration: none;
}

/* .footer-icons is the second container. */
/* The .footer-icons: */
.footer-icons {
    border-top: 1px solid #fff;
    padding-top: 35px;
}

/* Ups... let's use it directly... */
.footer-icons .footer-social {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style-type: none;
}

/* Now we are going to style the anchor element. */
.footer-icons .footer-social li a {
    background-color: var(--anchors-text);
    border-radius: 100%;
    color: var(--bg-color);
    display: block;
    font-size: 1.6rem;
    padding: 10px;
    text-align: center;
    width: 60px;
}

/* Now it's time to style the footer-copyright: */
/* This is the final wave, fight! */
.footer-copyright {
    color: var(--h1-header-color-text);
    padding-top: 60px;
    text-align: center;
}

/* The first type of the element "p". */
.footer-copyright p:first-of-type {
    font-style: italic;
}

/* Our heart is red here. <3 */
.heart {
    color: rgb(223, 61, 61);
}