/* Where it all begins. */

/* Adding reset styles... */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Did you know about variables in CSS? */
/* It's an basic-advance topic in CSS, but I know how to use it. */
/* I think we need to create variables in HTML element. */
/* No, no! Actually, it's by :root. */
/* html { */
    /* Declaring a variable by using double (--) and the word. */
    /* --primary-bgcolor: #fff; */
/* } */
:root {
    /* Dark Background Color for 'hero' and 'footer'. */
    --bg-color: #1f2937;
    /* Hero main and header logo text. */
    --h1-header-color-text: #f9faf8;
    /* Hero secondary text. Quote section background, probably. */
    --hero-text: #e5e7eb;
    /* Button color for sign-up and other stuff... */
    --button-color: #3882f6;
    /* Information header text. And quote text. */
    --information-header: #1f2937;
}

/* The HTML rule. */
html {
    /* Roboto family with "sans-serif" as a fallback. */
    font-family: Roboto, sans-serif;
    /* By default, font-size: 16px is in Chrome. Let's change! */
    /* font-size: 16px; */
    font-size: 20px;
}

/* First for all, let's change specific layouts inside of the container. */

/* Header: */
.header {
    /* Let's use "var()" function. */
    /* Put inside of it the variable value with (--) */
    background-color: var(--bg-color);
}

/* Header-top, and it's inside from .header. */
.header-top {
    /* Let's organize our container with "align-items" and it controls the cross-axis. */
    align-items: center;
    /* Use the color property with variables: */
    color: var(--h1-header-color-text);
    /* Let's use display: flex. */
    display: flex;
    /* Use font-size to maximize the font. */
    font-size: 24px;
    /* We could use font-weight set to bold. */
    /* No, no. Actually not. */
    /* font-weight: bold; */
    /* Use "justify-content" to organize your container in main-axis. */
    /* I know some people don't like 'space-around', but I will give it an opportunity. */
    justify-content: space-around;
}