/* Where it all begins. */

/* Adding reset styles... */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Did you know about variables in CSS? */
/* It's an basic-advance topic in CSS, but I know how to use it. */
/* I think we need to create variables in HTML element. */
/* No, no! Actually, it's by :root. */
/* html { */
    /* Declaring a variable by using double (--) and the word. */
    /* --primary-bgcolor: #fff; */
/* } */
:root {
    /* Dark Background Color for 'hero' and 'footer'. */
    --bg-color: #1f2937;
    /* Hero main and header logo text. */
    --h1-header-color-text: #f9faf8;
    /* Hero secondary text. Quote section background, probably. */
    --hero-text: #e5e7eb;
    /* Button color for sign-up and other stuff... */
    --button-color: #3882f6;
    /* Information header text. And quote text. */
    --information-header: #1f2937;
    /* For those anchors who want to be independent. */
    --anchors-text: #fff;
}

/* The HTML rule. */
html {
    /* Roboto family with "sans-serif" as a fallback. */
    font-family: Roboto, sans-serif;
    /* By default, font-size: 16px is in Chrome. Let's change! */
    /* font-size: 16px; */
    font-size: 20px;
}

/* First for all, let's change specific layouts inside of the container. */

/* Header: */
.header {
    /* Let's use "var()" function. */
    /* Put inside of it the variable value with (--) */
    background-color: var(--bg-color);
    /* Use the color property with variables: */
    color: var(--h1-header-color-text);
}

/* Header-top, and it's inside from .header. */
.header-top {
    /* Let's organize our container with "align-items" and it controls the cross-axis. */
    align-items: center;
    /* Let's use display: flex. */
    display: flex;
    /* Use font-size to maximize the font. */
    font-size: 24px;
    /* We could use font-weight set to bold. */
    /* No, no. Actually not. */
    /* font-weight: bold; */
    /* Use "justify-content" to organize your container in main-axis. */
    /* I know some people don't like 'space-around', but I will give it an opportunity. */
    justify-content: space-around;
}

/* .header-links is actually our "ul" element. */
.header-links {
    /* Always put the align-items to the center. */
    align-items: center;
    /* Let's make this unordered list into Flex. */
    display: flex;
    /* Remove those disc over there! */
    list-style: none;
    /* Justify content set to center. */
    justify-content: center;
    /* The gap is space between elements in flex container. */
    gap: 25px;
}

/* Our anchor elements: */
.header-links li a {
    /* The background-color using the button-color variable value. */
    background-color: var(--button-color);
    /* Use border simulating a button. */
    border: 2px outset black;
    /* The color is using a variable. We need to add other one. */
    color: var(--anchors-text);
    /* By default, anchor elements has display: block; */
    display: block;
    /* Adding padding space, because it's a button. */
    padding: 10px;
    /* In order to remove your underline, use text-decoration set to none. */
    text-decoration: none;
}

/* The .header-bottom: */
.header-bottom {
    /* Probably this one repeats, repeats... */
    display: flex;
    /* Change the main-axis to column direction now! */
    /* Now, we want to make it as a row. */
    flex-direction: row;
    /* Wrapping things, try it. */
    flex-wrap: wrap;
    /* Justify-content in the main axis. */
    justify-content: space-between;
    /* Add a padding, just because! */
    padding: 30px;
}

/* The new div in action: */
.header-bottom div {
    /* Let's use flex-container again from here. */
    display: flex;
    /* Change the direction of the main-axis. */
    flex-direction: column;
    /* We could use the flex-basis for the flex-item. */
    flex-basis: 50%;
    /* Justify the content to the center. */
    justify-content: center;
    /* Space between those items, using gap property. */
    gap: 20px;
}

/* Modifying the img element. */
.header-img {
    /* Border-radius, because we want more circle. */
    border-radius: 50%;
    /* By default, img element is inline-level. */
    display: block;
    /* Height auto, just because. */
    height: auto;
    /* This is randomly I picked up. */
    /* We optimized the speed over quality. */
    image-rendering: optimizeSpeed;
    /* This isn't real, but well 400px. */
    width: 400px;
}